@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kanit:wght@300&family=Lato:ital,wght@1,300&family=Open+Sans:wght@300;400&family=Poppins:ital,wght@1,200&family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;

}

html {
    scroll-behavior: smooth;
}

/* Header start from here */
#header {

    display: flex;
    justify-content: center;
    justify-content: space-between;
    /* background-color: rgb(248 244 244 / 65%); */
    background: #E3E6F3;
    box-shadow: 0 5px 15px (0, 0, 0, 0.06);
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 99;

}

.logo {
    padding: 11px 93px;
}

#nav {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;

}

#nav li {
    list-style: none;
    padding: 23px 36px;
}

#nav li a {

    text-decoration: none;
    /* color: #4d4b4b; */
    color: #1a1a1a;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;

}

#nav li a svg {

    color: black;

}

#nav li a:hover,
#nav li a.active {

    cursor: pointer;
    /* color: rgb(79, 239, 2
       */
    color: #088178;
    text-decoration: underline;
    transition: 0.3s ease-in-out;


}

#Mobile {

    display: none;
    justify-content: center;
    align-items: center;

}

.crossbar {
    display: none;
    justify-content: center;
    align-items: center;
}

/* Heros section */

#Heros-section {


    height: 90vh;

    background-image: url("img/hero4.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    background-position: top 25% right 0;
    margin-top: 2px;

}

.container {


    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    margin-top: 142px;
    margin-left: 174px;
    padding: 8px 8px;
}

.container h1 {
    color: #088178;
}

.container h2 {
    font-size: 50px;

}

.container h1 {
    font-size: 77px;
}

h4 {
    padding: 6px 0px;
}

.container p {
    padding: 6px;
}

#shop-button {
    margin: 5px 10px;
    padding: 5px 30px;
    font-size: 15px;
    outline: none;
}

#shop-button {
    background-image: url("img/button.png");
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    color: #088178;
    background-size: cover;
    width: 15vw;
    height: 6vh;


}

#shop-button:hover {

    cursor: pointer;


}


/* Feature section start from  here */


#feature {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.fea-first-box {
    /* border: 2px solid red; */

    padding: 15px 11px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;


}

.fea-first-box:hover {

    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.2);

}

.fea-second-box:hover {

    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.2);
}

.fea-third-box:hover {

    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.2);
}

.fea-fourth-box:hover {

    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.2);
}

.fea-fifth-box:hover {

    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.2);
}

.fea-sixth-box:hover {

    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.2);
}


.fea-second-box {

    padding: 15px 11px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
}

.fea-third-box {

    padding: 15px 11px;
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.02);
    border: 1px solid #cce7d0;
}

.fea-fourth-box {

    padding: 15px 11px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
}

.fea-fifth-box {

    padding: 15px 11px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
}

.fea-sixth-box {

    padding: 15px 11px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
}

#feature h5 {

    text-align: center;
    margin-top: 26px;
    padding: 6px 5px;

}

#text-1 {

    color: #088178;
    border-radius: 4px;
    background-color: #fddde4;
    cursor: pointer;
}

#text-2 {
    color: #088178;
    border-radius: 4px;
    background-color: #cdebbc;
    cursor: pointer;
}

#text-3 {
    color: #088178;
    border-radius: 4px;
    background-color: #d1e8f2;
    cursor: pointer;
}

#text-4 {
    color: #088178;
    border-radius: 4px;
    background-color: #cdd4f8;
    cursor: pointer;
}

#text-5 {
    color: #088178;
    border-radius: 4px;
    background-color: #f6dbf6;
    cursor: pointer;
}

#text-6 {
    color: #088178;
    border-radius: 4px;
    background-color: #fff2e5;
    cursor: pointer;
}

/* featured product start from here  */

#feature-product {

    height: 28vh;
    /* border: 2px solid red; */
    padding: 6px 0px;
}

#feature-product h2 {
    text-align: center;
    padding: 24px 0px;
    font-size: 50px;
}

#feature-product p {
    text-align: center;
    color: grey;
}


/* Featured product list code from here */
/*  */

.fea-products-list {

    border: 1px solid #cce7d0;
    /* display: inline-block; */
    border-radius: 23px;
    margin: 5px 10px;
    height: 450px;

}

.fea-products-list img {
    width: 19vw;
    height: 43vh;
    padding: 9px 14px;
    border-radius: 30px;
}

.fea-products-list img:hover {

    cursor: pointer;

    box-shadow: 10px 10px 54px rgba(121, 116, 229, 0.2);
}


.star i {

    color: rgb(210, 168, 17);
    text-align: center;
}

.description {
    padding: 2px 18px;
}

.description span {
    color: grey;
    padding-top: 10px;

}

.description h5 {

    font-size: 15px;
    color: #312f2f;
    padding: 3px 0px;
}

.description h2 {
    color: #088178;
    padding: 3px 0px;
}


.description svg {
    width: 40px;
    height: 40px;
    background-color: #cce7d0;
    color: #088178;
    border-radius: 50px;
    padding: 8px 1px;
    position: relative;
    left: 220px;
    bottom: 39px;
}

.description svg:hover {

    background-color: white;
    color: #088178;
    border: 2px solid #c5ebcb;
}

#featured-products {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* Banner section */


#banner-sect {
    background-image: url("img/banner/b2.jpg");
    /* background-position: ; */
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 15px 0px;
}

#banner-sect {
    /* border: 2px solid red; */
    text-align: center;
    padding: 60px 10px;

}

.banner-text h5 {

    font-size: 20px;

}

.banner-text h1 {


    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    padding: 13px 0px;
}

.banner-text span {
    color: red;
}

#banner-btn {
    padding: 9px 23px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    background-color: white;
    border: 0px;
    border-radius: 5px;


}

#banner-btn:hover {

    color: white;
    background-color: #125753;
    transition: 0.03 ease-in-out;
}







#banner-sect2 {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;

}

.first {

    /* border: 2px solid blue; */
    text-align: left;
    padding: 80px 20px;
    width: 35vw;

    background-image: url("img/banner/b17.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;


}

.first h2 {
    padding: 7px 0px;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

#btn-banner-sect2 {


    margin-top: 10px;
    padding: 8px 17px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    border: 2px solid white;
    background-color: transparent;
    cursor: pointer;
    border-radius: 8px;
    color: white;
}

#btn-banner-sect2:hover {

    background-color: #088178;
    color: white;


}


.second {
    /* border: 2px solid green; */
    text-align: left;
    padding: 80px 20px;
    width: 35vw;
    background-image: url("img/banner/b10.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.second h2 {
    padding: 7px 0px;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}







#banner-sect3 {

    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;


}

.banner-container1 {

    /* border: 2px solid blue; */
    width: 17vw;
    padding: 47px 22px;
    font-family: 'Roboto', sans-serif;
    background-image: url("img/banner/b7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.banner-container1 h4 {
    color: red;
}

.banner-container2 h4 {
    color: red;
}

.banner-container3 h4 {
    color: red;
}



.banner-container2 {

    /* border: 2px solid green; */
    padding: 47px 22px;
    font-family: 'Roboto', sans-serif;
    background-image: url("img/banner/b4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.banner-container3 {

    /* border: 2px solid rgb(26, 21, 12); */
    padding: 47px 22px;
    width: 17vw;
    font-family: 'Roboto', sans-serif;
    background-image: url("img/banner/b18.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}




#banner-sect4 {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 45px;
    background-image: url("img/banner/b14.png");
    background-position: 20% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #031732;
    color: white;
}

.Newsletter {
    /* border: 2px solid blue; */
    padding: 50px 10px;
    font-family: 'Roboto', sans-serif;

}

.Newsletter h4 {
    padding: 15px 1px;
    color: grey;
}

.Newsletter span {
    color: rgb(228, 128, 14);
}

.Form {
    /* border: 2px solid/ */
    display: flex;
}

.Form input {
    padding: 11px 5px;
    width: 24vw;
    outline: none;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    border-start-start-radius: 4px;
}

#form-btn {
    padding: 10px 20px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    border: 0;
    background-color: #088178;
    color: white;
    font-weight: 800;
    border-end-end-radius: 4px;
    cursor: pointer;
    white-space: nowrap;

}

#form-btn:hover {
    background-color: white;
    color: #088178;
    transition: 0.03 ease-in;
}




/* footer section
 */


#text-footer-container {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(3 6 33);
    color: white;
}



.footer1 {
    padding: 40px 10px;
}
.footer1 >a>img{
    background-color: #fff;
    text-align: center;
    padding: 0px 0px 0px 10px;
    border-radius: 4px;
}

.footer1 span {
    color: #b4acac;
}



.footer2 h3 {
    color: #b4acac;
}

.footer3 h3 {
   color: #b4acac;
}

.footer4 h4 {
    color: #d8cfcf;
}

.footer1 h2 {

    padding: 15px 1px;
}

.footer1 h3 {

    padding: 6px 2px;
}

.footer1 h4 {

    padding: 20px 2px;

}

.footer1 i {

    padding: 2px 6px;
    cursor: pointer;

}

.footer2 {
    padding-bottom: 55px;
}

.footer2 h2 {
    padding: 20px 2px;
}

.footer2 h3 {
    padding: 7px 2px;
}

.footer3 {
    padding-bottom: 55px;
}

.footer3 h2 {
    padding: 20px 2px;
}

.footer3 h3 {
    padding: 7px 2px;
}

.footer4 {

    padding-bottom: 30px;
}

.footer4 h4 {
    padding: 20px 2px;
}


#text-footer-container p {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 5px;
}

.app-image img {
    border-top: 2px solid #088178;
    border-bottom: 2px solid #088178;
    border-radius: 5px;
}


/* SHOP PAGE STYLE SHEET FROM HERE  */

#banner-sect-shop{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url("img/banner/b1.jpg") ;
    /* background-position: ; */
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding:70px 10px
    
}

#banner-sect-shop h6{
    text-align: center;
}

#nextbotton{
       
        display: flex;
        justify-content: center;
     align-items: center;
        /* border: 2px solid red; */
        padding: 10px 10px;
        margin: 4px 0px;

}

.next-icon i{
    font-size: 37px;
    padding: 0px 3px;
    cursor: pointer;
    color: #088178;
   
}

.next-icon i:hover{
        color: #088178;
        background-color: white;
}


/* SINGLE PRODUCT STYLE SHEET  */


.Large-product-img {

    margin-top: 15px;
    margin-left: 15px;
}
.Large-product-img img{
    width: 35vw;
    height: 68vh;
    padding: 10px 20px;
}

.small-product-img{
    display: flex;
    justify-content:left;
   align-items: flex-end;
   margin-left: 30px;
  
}

.small-product-img img{

    
    width:8vw ;
    height:13vh ;
  padding:5px 10px;
  cursor: pointer;
}

#Single-product{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.single-product-details{

    /* border: 2px solid blue; */
    padding: 5px 20px;
}

.single-product-details h6{
    padding: 15px 2px;
}

.single-product-details h4{
    padding:13px 0px;
}

.single-product-details div{
    padding: 12px 0px;
}

.single-product-details p{
    padding:10px 5px;
    line-height: 25px;
}

.single-product-details select{
    padding: 5px;
}

.single-product-details select option{
    padding: 4px 2px;
    /* border: 2px solid red; */
}


.single-product-details input{
    
        width: 5vw;
        padding: 5px;
        padding: 5px 8px;
    
}

.single-product-details button{
    padding: 7px 9px;
}

.single-product-details{

    width: 50vw;
    padding: 30px  5px   50px 10px;
    margin-right: 10px;
   
}

.single-product-details h6 ,p{
    font-family: 'Roboto', sans-serif;
}



.single-product-details h4{
    font-family: 'Roboto', sans-serif;
}

.single-product-details select{
   margin: 5px 5px;
}
.single-product-details input{
   margin: 5px 5px;
}

#pro-details{

    padding-top: 15px;
}

#sin-pro-btn{
    color: white;
    background-color:#088178;
    outline: none;
    border: 0px;
    border-radius: 3px;
}



        /* BLOG PAGE STYLE SHEET START FROME HERE  */

          .banner-text-blog{
              text-align: center;
          }




#blogpage-banner{
    margin-top: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

         #banner-sect-blog {

         display: flex;
            background-image: url("img/banner/b19.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            object-fit: cover;
            height: 31vh;
            justify-content: center;
            align-items: center;
            color: white;
            
          }

          .banner-text-blog h1{
            font-size: 30px;
          }

.blog-banner img{

       width: 20vw;
       height: 24vh;
}

.blog-banner{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 42px;
}



.blog-banner-details h1{
    
        font-size: 20px;
      
    
}

#blogpage-banner.blog-banner h1{
    position: absolute;
    top: -40px;
    left: 0px;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;

}

.blog-banner-details{

        width: 50vw;
        padding: 10px 104px;
        /* line-height: 25px; */
    
}

.blog-banner-details a{
    text-decoration: none;
}

.blog-banner-details a{

    color: #161a1f;
}

.blog-banner-details a:hover{

    cursor: pointer;
    color: #125753;
    font-weight: bolder;
    transition: 0.2s ease-in-out;
  
}

#blogpage-banner h1, h5{

    font-family: 'Roboto', sans-serif;
}


.blog-banner-details p{

    padding: 10px 5px;
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
}

   /* About section of mediaqeries */



   #banner-sect-about{
    background-image: url("img/about/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height:31vh ;
   }
   .banner-text{

    text-align: center;
    color: white;
   }

#About-Heros-section{

    display: flex;
    justify-content: space-around;
    align-items: center;


}

.about-heros-image{
    display: contents;

}
   .about-heros-image img{

    padding: 35px 20px;

    width: 50%;

   }

   .contents-details{

    width: 50%;
    padding:15px 35px
   }

   .contents-details p{

       padding: 30px 0px;
       font-family: 'Poppins', sans-serif;
   }

   .contents-details h1{

    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
   }

   .contents-details span{
    font-family: 'Roboto', sans-serif;
   }

   .contents-details marquee{

    margin: 20px 0px;
    font-family:'Roboto', sans-serif ;
   }

#download-app h1{

    text-align: center;

    

}

#download-app .video-part{

    width: 50%;
    height: 100%;
    margin: 30px auto 0 auto;

}
.video-part video{

    width: 100%;
    height: 100%;
    border-radius: 20px;

}

   





















/*Media quaries for ipad start frome here*/

@media (max-width:799px) {

    #header {
        background-color: red;
        display: flex;
        /* justify-content: center; */
        /* justify-content: space-between; */
        /* background-color: rgb(248 244 244 / 65%); */
        background: #E3E6F3;
        box-shadow: 0 5px 15px (0, 0, 0, 0.06);
        position: sticky;
        top: 0px;
        left: 0px;
        z-index: 99;
        max-width: 100vw;

    }

    #nav{
        margin-right: 0px;
    }

    .crossbar {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .crossbar {

        position: relative;
        left: 203px;
        bottom: 58px;

    }


    #Mobile {
        padding: 23px 36px;
    }

    #Mobile {

        display: block;
        justify-content: center;
        align-items: center;

    }

    #Mobile svg {

        height: 29px;
        width: 26px;
        color: #1a1a1a;

    }

    #Mobile i {
        padding: 0px 0px 0px 17px;
        font-size: 32px;
        color: #1a1a1a;

    }

    #header a {
        position: relative;

        /* right: 250px; */
    }




    /* .logo{
        padding: 11px 146px;
    } */

    #nav li {
        padding: 23px 14px;
    }


    #nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0px;
        right: -350px;
        width: 300px;
        height: 57vh;
        background-color: #E3E6F3;
        padding: 80px 0px 0px 29px;


    }

    #nav.active {
        right: 0px;
        transition: 0.3s ease-out;

    }

    #nav.non-active {
        right: -350px;
        transition: 0.3s ease-in;
    }




    #nav li a svg {
        color: black;
        width: 7vw;
        height: 3vh;
    }

    #nav li a {
        text-decoration: none;

        color: #1a1a1a;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
    }


    #Heros-section {
        background-image: url(img/hero4.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        background-position: top 25% right 0;
        margin-top: 2px;
        height: 50vh;
    }

    .container {
        display: inline-block;

        margin-top: 82px;
        margin-left: 11px;
        padding: 8px 8px;
    }

    .container h2 {
        font-size: 27px;
    }


    .container h1 {
        font-size: 54px;

    }

    #shop-button {
        width: 20vw;
        height: 3vh;
    }

    #feature {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 20px 0px;

    }

    .fea-first-box {
        /* border: 2px solid red; */
        padding: 15px 11px;
        box-shadow: 20px 20px 34px rgb(0 0 0 / 3%);
        border: 1px solid #cce7d0;
        margin: 17px 33px;
    }

    .fea-second-box {
        /* border: 2px solid red; */
        padding: 15px 11px;
        box-shadow: 20px 20px 34px rgb(0 0 0 / 3%);
        border: 1px solid #cce7d0;
        margin: 17px 33px;
    }

    .fea-third-box {
        /* border: 2px solid red; */
        padding: 15px 11px;
        box-shadow: 20px 20px 34px rgb(0 0 0 / 3%);
        border: 1px solid #cce7d0;
        margin: 17px 33px;

    }



    .fea-products-list img {
        width: 41vw;
        height: 32vh;
        padding: 9px 10px;
        border-radius: 30px;
    }

    .fea-products-list {
        border: 1px solid #cce7d0;
        /* display: inline-block; */
        border-radius: 23px;
        margin: 20px 10px;
        height: 441px;
    }

    .description svg {
        width: 40px;
        height: 40px;
        background-color: #cce7d0;
        color: #088178;
        border-radius: 50px;
        padding: 8px 1px;
        position: relative;
        left: 240px;
        bottom: 39px;
    }

    .first {
        /* border: 2px solid blue; */
        text-align: left;
        padding: 78px 20px;
        width: 56vw;
        background-image: url(img/banner/b17.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;

    }

    .first h6 {
        font-size: 15px;
    }

    .second {
        padding: 63px 20px;
    }

    .second h6 {
        font-size: 12px;
    }

    .banner-container1 {
        /* border: 2px solid blue; */
        width: 39vw;
        padding: 47px 22px;
        font-family: 'Roboto', sans-serif;
        background-image: url(img/banner/b7.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        /* background-size: unset; */
    }

    .banner-container2 {
        /* border: 2px solid green; */
        padding: 47px 22px;
        font-family: 'Roboto', sans-serif;
        background-image: url(img/banner/b18.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;

    }

    .banner-container3 {
        /* border: 2px solid rgb(26, 21, 12); */
        padding: 91px 22px;
        width: 95vw;
        font-family: 'Roboto', sans-serif;
        background-image: url(img/banner/b4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        margin-top: 34px;
    }

 #main-image{
     width:51vw ;
     height:45vh;
     padding: 10px 20px;
}

/* .small-image{
   
        width: 11vw;
        height: 13vh;
        padding: 5px 10px;
        cursor: pointer;
   
} */

.small-product-img img {
    width: 11vw;
    height: 13vh;
    padding: 5px 10px;
    cursor: pointer;
}

#Single-product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid red; */
}


.single-product-details {
    width: 88vw;
    padding: 30px  5px   50px 10px;
    margin-right: 10px;
}


#banner-sect-blog {
    display: flex;
    background-image: url("img/banner/b19.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 29vh;
    justify-content: center;
    align-items: center;
    color: white;
}

.blog-banner img {
    width: 40vw;
    height: 18vh;
}

.blog-banner-details {
    width: 50vw;
    padding: 10px 50px;
    /* line-height: 25px; */
}

}



























/*media queries fie mobile  */

@media (max-width:365px) {

    .logo {
        padding: 19px 16px;
    }

    #nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0px;
        right: -350px;
        width: 300px;
        height: 100vh;
        background-color: #E3E6F3;
        padding: 80px 0px 0px 29px;
    }
    
  #nav{
           margin-right: 0px;
  }

    .crossbar {
        position: relative;
        left: 7px;
        bottom: 58px;
    }

    #feature {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 14px 10px;

    }

    .fea-first-box {
        margin-bottom: 8px;
    }

    .fea-second-box {
        margin-bottom: 8px;
    }

    .fea-third-box {
        margin-bottom: 21px;
    }

    .fea-fourth-box {

        margin-bottom: 18px;
    }

    .fea-fifth-box {
        margin-bottom: 18px;
    }

    .fea-sixth-box {
        margin-bottom: 18px;
    }

    #feature-product h2 {
        text-align: center;
        padding: 13px 14px;
        font-size: 34px;
        margin-left: 13px;
    }

    #feature-product {
        height: 15vh;
        padding: 6px 0px;
    }

    .fea-products-list {
        border: 1px solid #cce7d0;
        /* display: inline-block; */
        border-radius: 23px;
        margin: 13px 10px;
        height: 356px;
    }

    .fea-products-list img {
        width: 77vw;
        height: 33vh;
        padding: 9px 24px;
        border-radius: 30px;
    }

    .description svg {
        width: 40px;
        height: 40px;
        background-color: #cce7d0;
        color: #088178;
        border-radius: 50px;
        padding: 8px 1px;
        position: relative;
        left: 206px;
        bottom: 39px;
    }

    .banner-text h1 {
        font-size: 28px;
        font-family: 'Roboto', sans-serif;
        padding: 13px 0px;
    }

    #banner-sect2 {
        /* border: 2px solid red; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 40px;
        flex-direction: column;
    }

    .first {
        /* border: 2px solid blue; */
        text-align: left;
        padding: 47px 20px;
        width: 92vw;
        background-image: url(img/banner/b17.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        border-radius: 8px;
    }

    .second {

        text-align: left;

        width: 91vw;
        background-image: url("img/banner/b10.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        padding: 47px 20px;
        border-radius: 8px;
        margin-top: 5px;
    }

    .banner-container1 {
        /* border: 2px solid blue; */
        width: 90vw;
        padding: 47px 22px;
        font-family: 'Roboto',sans-serif;
        background-image: url(img/banner/b7.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        /* background-size: unset; */
    }

    .banner-container2 {
        /* border: 2px solid green; */
        padding: 48px 22px;
        font-family: 'Roboto', sans-serif;
        background-image: url(img/banner/b18.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        margin: 5px 19px;
        margin: px;
    }

    .banner-container3 {
        /* border: 2px solid rgb(26, 21, 12); */
        padding: 55px 22px;
        width: 89vw;
        font-family: 'Roboto', sans-serif;
        background-image: url(img/banner/b4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        margin-top: 8px;
    }

    .Newsletter {
        /* border: 2px solid blue; */
        padding: 20px 10px;
        font-family: 'Roboto', sans-serif;
    }

    .Form input {
        padding: 14px 5px;
        width: 65vw;
        outline: none;
        font-family: 'Roboto', sans-serif;
        background-color: white;
        border-start-start-radius: 4px;
    }

    #form-btn {
        padding: 7px 15px;
        font-size: 19px;
        font-family: 'Roboto', sans-serif;
        border: 0;
        background-color: #088178;
        color: white;
        font-weight: 800;
        border-end-end-radius: 4px;
        cursor: pointer;
        white-space: nowrap;
    }

    .Form{
        margin-bottom: 24px;
    }

    #banner-sect4 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 27px;
        background-image: url("img/banner/b14.png");
        background-position: 20% 30%;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #031732;
        color: white;
    }

    .footer1 {
        padding: 17px 10px;
    }

    .footer1 h2 {
        padding: 7px 1px;
    }

    .footer1 span {
        color: grey;
        font-size: 11px;
    }

    .footer2 h3 {
        color: grey;
        font-size: 13px;
    }

    .footer2 {
        padding-bottom: 0px;
    }

    .footer2 h2 {
        padding: 8px 2px;
    }


    .footer3 h3 {
        padding: 7px 2px;
        font-size: 13px;
    }

    .footer3 h2 {
        padding: 8px 2px;
    }

    .footer3 {
        padding-bottom: 0px;
    }

    .footer4 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #footerpayimg{
        
            padding: 0px 59px;
       
    }

    #text-footer-container p {
        font-family: 'Roboto', sans-serif;
        padding-bottom: 5px;
        font-size: 12px;
    }

    #main-image {
        width: 97vw;
        height: 45vh;
        padding: 10px 28px;
        padding-left: 8px;
    }

    .small-product-img img {
        width: 20vw;
        height: 13vh;
        padding: 5px 1px;
        cursor: pointer;
    }


    .single-product-details {
        width: 99vw;
        padding: 30px  5px   50px 10px;
        margin-right: 10px;
    }

    .single-product-details input {
        width: 12vw;
        padding: 5px;
        padding: 5px 8px;
    }


    .small-product-img {
        display: flex;
        justify-content: left;
        align-items: flex-end;
        margin-left: 20px;
    }


    /* blog page mediaqueries  */

    .blog-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 42px;
        flex-direction: column;
    }

    .blog-banner img {
        width: 83vw;
        height: 24vh;
    }

    .blog-banner-details {
        width: 100vw;
        padding: 10px 27px;
        /* line-height: 25px; */
    }

    /* About section media queries  */

    #About-Heros-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .about-heros-image img {
        padding: 35px 20px;
        width: 100%;
    }

    .contents-details {
        width: 100%;
        padding: 15px 35px;
    }

    #download-app .video-part {
        width: 80%;
        height: 100%;
        margin: 30px auto 0 auto;
    }


}
 

